<div id="edit-profile-modal" class="hidden">
    <div class="modal-content">
        <h3>Editar Perfil</h3>
        <!-- Поля ввода -->
        <label for="edit-cafe-name">Nombre del Café:</label>
        <input type="text" id="edit-cafe-name" value="Corgi Cafe Gotico">

        <label for="edit-cafe-address">Dirección:</label>
        <input type="text" id="edit-cafe-address" value="Plaza de la Vila de Madrid 4, Barcelona">

        <label for="edit-cafe-email">Email:</label>
        <input type="email" id="edit-cafe-email" value="info@corgicafe.es">

        <label for="edit-cafe-phone">Teléfono:</label>
        <input type="text" id="edit-cafe-phone" value="+34 603 50 19 23">

        <!-- Кнопки -->
        <div class="button-container">
            <button id="save-profile-btn">Guardar</button>
            <button id="close-profile-modal">Cancelar</button>
        </div>
    </div>
</div>